.inspiration {
	text-align: center;
}

.inspiration h3 {
	font-weight: 400;
}

.imgCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.imgCard {
	height: 239px;
	overflow: hidden;
	width: 350px;
	margin: 10px;
}

.imgCard img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.imgCard {
		width: 100%;
		max-height: 300px;
	}
}
