.inspiration {
	text-align: center;
	margin-bottom: 80px;
}

.inspiration h3 {
	font-weight: 400;
}

.imgCardContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 12px;
}

.imgCard {
	margin: 3px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.imgCard:nth-child(1),
.imgCard:nth-child(3) {
	overflow: hidden;
	height: 292px;
	width: 443px;
}

.imgCard:nth-child(2) {
	height: 291px;
	width: 220px;
	overflow: hidden;
}

.imgCard img:nth-child(1),
.imgCard img:nth-child(3) {
	height: 100%;
}

.imgCard img:nth-child(2) {
	height: 100%;
}

@media only screen and (max-width: 768px) {
	.imgCard:nth-child(1),
	.imgCard:nth-child(3) {
		width: 100vw;
	}

	.imgCard img:nth-child(1),
	.imgCard img:nth-child(3) {
		width: 100%;
		height: auto;
	}
	.imgCard:nth-child(2) {
		/* display: none; */
		width: 100vw;
	}

	.imgCard img:nth-child(2) {
		height: auto;
		width: 100%;
	}

	.imgCardContainer {
		flex-wrap: wrap;
	}
}
