.hero {
	max-height: 600px;
	padding: 0;
}

.heroContainer {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	max-width: 1440px;
	max-height: 600px;
}

.heroContainer img {
	position: relative;
	width: 100%;
}

.heroTitle {
	position: absolute;
	top: 220px;
	left: 220px;
	z-index: 9999;
	font-weight: 700;
	width: 25%;
	text-transform: uppercase;
	overflow: hidden;
}
