.hero {
	max-height: 600px;
	padding: 0;
}

.heroContainer {
	position: relative;
	display: flex;
	overflow: hidden;
	margin: 0 auto;
	max-width: 1440px;
	max-height: 600px;
}

.heroContainer img {
	position: relative;
	width: 100%;
}

.heroTitle {
	position: absolute;
	top: 29%;
	left: 220px;
	z-index: 9999;
	font-weight: 700;
	width: 300px;
	text-transform: uppercase;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	.heroTitle {
		font-size: 2em;
		left: 66px;
		top: 93px;
		width: 100%;
	}
}

@media only screen and (max-width: 568px) {
	.heroTitle {
		font-size: 1.3em;
	}
}
