:root {
	--black: #0e0f25;
	--blue-grey: #6b7e87;
	--white: #f0f2eb;
	--red: #ff1d25;
}

*,
body,
html {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

main {
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	padding-bottom: 200px;
}

h1 {
	font-size: 3.1em;
}
h2 {
	font-size: 2.9em;
}
h3 {
	font-size: 2.2em;
}

h1,
h2,
h3,
h4 {
	color: var(--black);
}
